VITE_API_URL=https://api-portal-pedidos.184-195-200-7.sslip.io
VITE_MICROSOFT_TENANT_ID=ddae3610-beda-406a-ad66-1f5f06831fe5
VITE_MICROSOFT_CLIENT_ID=9b46a5e5-1794-4bca-b1a1-f267b6be31fd
VITE_MICROSOFT_API_SCOPE=api://9b46a5e5-1794-4bca-b1a1-f267b6be31fd/access_as_user
